.page-logo-row {
  padding-top:20px;
  padding-left: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 3px 3px -2px gray;
  -moz-box-shadow: 0 3px 3px -2px gray;
  box-shadow: 0 3px 3px -2px gray;
}
